* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}

@media screen and (max-height: 360px) {
  body {
    justify-content: start;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.start-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.size-box-text {
  margin-bottom: 30px;

  color: #ebba34;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.size-box-input {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 50px;
  text-align: center;
  color: #ebba34;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 24px;
  margin-bottom: 30px;
}

.size-box-input.valid {
  border-color: green;
}

.size-box-input.invalid {
  border-color: red;
}

.size-box-text-output {
  color: #ebba34;
  font-size: 20px;
  margin-bottom: 30px;
}

.start-game {
  font-family: inherit;
  padding: 10px 20px;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  background-color: #ebba34;
  cursor: pointer;
}

@media screen and (max-width: 420px), (max-height: 500px) {
  .size-box-text {
    margin-bottom: 30px;
    font-size: 22px;
  }

  .size-box-input {
    width: 70px;
    height: 40px;
    margin-bottom: 20px;
  }

  .size-box-text-output {
    color: #ebba34;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .start-game {
    padding: 10px 20px;
    font-size: 20px;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 auto;
  width: 600px;
  max-width: calc(100%);
  min-width: 320px;
  height: 600px;
  max-height: calc(100% - 50px);
  min-height: 320px;

  border: 15px solid #4f2109;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  background-color: #914414;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  background-color: #ebba34;
  border: 1px solid #000;
  cursor: pointer;
}

.box.empty {
  background-color: #914414;
  border: none;
  color: #ccc;
  cursor: initial;
}

@media screen and (max-width: 480px), (max-height: 550px) {
  .box {
    font-size: 24px;
  }
}

@media screen and (max-width: 400px), (max-height: 480px) {
  .box {
    font-size: 18px;
  }
}

.finish-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #914414;
}

.succes-text {
  color: #ebba34;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.succes-text span {
  display: block;
  font-size: 32px;
  font-weight: normal;
}

.again {
  font-family: inherit;
  padding: 10px 20px;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  background-color: #ebba34;
  cursor: pointer;
}

.again:hover {
  background-color: #c99e2a;
}

@media screen and (max-width: 480px), (max-height: 550px) {
  .succes-text {
    font-size: 36px;
    margin-bottom: 25px;
  }

  .succes-text span {
    font-size: 24px;
  }

  .again {
    padding: 7px 15px;
    font-size: 18px;
  }
}

.stepcount {
  display: flex;
  align-items: center;
  padding-left: 25px;
  width: 200px;
  height: 40px;
  font-size: 16px;
  background-color: #4f2109;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 50px;
  color: #ebba34;
}

.stepcount span {
  margin-left: 5px;
  font-weight: bold;
}

.refresh {
  display: flex;
  align-items: center;
  padding-left: 25px;
  width: 200px;
  height: 40px;
  font-size: 16px;

  background-color: #4f2109;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 5px;
  color: #ebba34;
}

.refresh-btn {
  cursor: pointer;
}

.panel {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -12px;
  width: 600px;
  max-width: calc(100%);
}

@media screen and (max-width: 420px), (max-height: 500px) {
  .stepcount {
    width: 150px;
    height: 40px;
    font-size: 12px;
  }

  .refresh {
    width: 150px;
    height: 40px;
    font-size: 12px;
  }

  @media screen and (max-width: 350px), (max-height: 400px) {
    .stepcount {
      width: 120px;
      height: 40px;
      font-size: 10px;
    }

    .refresh {
      padding-left: 15px;
      width: 120px;
      height: 40px;
      font-size: 10px;
    }
  }

  .panel {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -12px;
    width: 600px;
    max-width: calc(100%);
  }
}
